/* Root Variables */
:root {
  --bg: #f8f8ff;
  --nav-bg: #fff;
  --primary: black;
  --nav-item-color: #8f9a9e;
  --nav-border: #8f9a9e;
  --white: #fff;
  --gap: 0.5rem;
  --item-width: 5.25rem;
  --sage: #7c8e76;
  --mivro-blue: #8fd0ff;
}

/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 320px;
  height: 560px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.1rem;
  margin: 0;
  font-family: "Mulish", sans-serif;
  font-size: 12px;
  background: var(--bg);
}

/* Header Styles */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 8px;
  border-bottom: 1px solid rgba(148, 156, 169, 0.15);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0px 4px 16px rgba(148, 156, 169, 0.15);
  background: var(--nav-bg);
}

.mivro-icon {
  width: 30%;
}

/* Main Content Styles */
.container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden; /* Prevent scrolling on the main container */
}

/* Chat */
.chat {
  flex-grow: 1;
  overflow-y: auto;
  padding-bottom: 48px;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.chat::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.chat-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  font-size: large;
  flex-grow: 1;
}

.input-container {
  position: fixed;
  bottom: 60px;
  width: calc(100% - 12px); /* Adjust width to account for padding and margin */
  padding: 4px;
  margin: 0 4px 4px 4px;
  background: var(--white);
  box-sizing: border-box;
  border-radius: 20px;
  display: flex;
  align-items: center;
  box-shadow: 0px 4px 16px rgba(148, 156, 169, 0.15);
}

.input-container textarea {
  flex-grow: 1;
  border: none;
  padding: 0 4px 0 8px;
  background: var(--white);
  border-radius: 20px;
  font-family: "Mulish", sans-serif;
  overflow-y: hidden; /* Hide vertical scrollbar */
  resize: none; /* Prevent manual resizing */
  line-height: 20px; /* Set line height in pixels */
  font-size: 14px;
}

.input-container textarea:focus {
  outline: none;
}

.input-container .icon-div {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 36px;
  height: 36px;
}

.icon-div img {
  width: 32px;
  height: 32px;
  opacity: 0.75;
  margin: 2px;
  border-radius: 50%;
}

.icon-div img:hover {
  opacity: 1;
}

.icon-div img:active {
  transform: scale(0.9);
}

.message {
  margin: 4px 0;
  padding: 8px 16px;
  border: #f8f8ff 1px solid;
  border-radius: 16px;
  background: var(--white);
  overflow-wrap: break-word;
  width: fit-content;
}

.message-user {
  font-size: 12px;
  align-self: flex-end;
  max-width: 70%;
  background: var(--mivro-blue);
}

/* Button and Text Styles */
.signed-out {
  font-size: 16px !important;
}

.sign-in {
  margin-top: 4px;
  padding: 8px;
  width: 100%;
  font-size: 16px !important;
  border-radius: 8px;
  background-color: var(--mivro-blue) !important;
  cursor: pointer;
}

/* Navigation Styles */
.navigation {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0.5rem 1rem;
  background: var(--nav-bg);
  border-top: 1px solid rgba(148, 156, 169, 0.15);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  box-shadow: 16px 16px 16px rgba(148, 156, 169, 0.15);
  user-select: none;
}

.nav-list {
  display: flex;
  list-style-type: none;
  gap: calc(var(--gap) * 2); /* Increased gap */
  position: relative;
}

.nav-list > li {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(var(--item-width) / 1.5);
}

.nav-list > li > a {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 3rem;
  gap: 0.25rem;
  color: var(--nav-item-color);
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

.nav-list > li > a > img {
  width: 1.5rem;
  height: 1.5rem;
  transition: opacity 0.2s ease-in-out;
}

.nav-list > li:hover > a {
  color: var(--primary);
}

.nav-list > li:hover > a > img {
  opacity: 1;
}

.nav-list > .active > a {
  color: var(--primary);
}

.nav-list > .active > a > img {
  opacity: 1;
}

.active-bar {
  position: absolute;
  bottom: -10px; /* Adjusted to bottom */
  left: 0;
  min-width: calc(var(--item-width) / 1.5);
  height: 0.25rem;
  background: var(--primary);
  z-index: 1;
  transition: transform 0.5s;
}

.nav-list li:nth-child(1).active ~ .active-bar {
  transform: translateX(0);
}

.nav-list li:nth-child(2).active ~ .active-bar {
  transform: translateX(calc((var(--item-width) / 1.5) + (var(--gap) * 2)));
}

.nav-list li:nth-child(3).active ~ .active-bar {
  transform: translateX(
    calc((var(--item-width) / 1.5) * 2 + (var(--gap) * 2) * 2)
  );
}

.nav-list li:nth-child(4).active ~ .active-bar {
  transform: translateX(
    calc((var(--item-width) / 1.5) * 3 + (var(--gap) * 2) * 3)
  );
}

/* Miscellaneous */
.hidden {
  display: none;
}

.grey {
  opacity: 0.5;
}

.hide {
  display: none;
}
